<?xml version="1.0"?>
<launch>
  <include file="$(find launcher_robots_lab_robotica)/launch/robot_204.launch"/>
  <node name="gesture_action_server" pkg="gestos_robot_pkg" type="gesture_action_server.py"/>
  <node name="cam_gestos" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video0"/>
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="color_format" value="yuv422p" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
  </node>
</launch>

